body {
    background-color: rgb(184, 155, 119);
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h1{
    color: navy;
    font-weight: 900;
    font-style: normal;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    
}
p{
    font-weight: 400;
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}
body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin: 50px;
}

section ul li {
  list-style: square;
  margin-bottom: 5px;
}

section ol li {
  list-style: decimal-leading-zero;
  text-align: left;
}

strong {
  color: rgb(250, 0, 133);
}

em {
  font-style: italic;
  color: rgb(118, 0, 139);
}

span.naglasak {
  color: #786db6;
  text-transform: uppercase;
}

header h1 {
    display: block;
  float: inline-start;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #555;
}